.room-wrapper{
    display: flex;
    height: 680px;
}
.videochat-wrapper{
    position: relative;
    margin-right: auto;
    border-style: solid;
    width:80%;
    background: -webkit-linear-gradient(left,#5c3e2d, #79492d);   
}
.videochat-header{
    display:flex;
    height:40px;
}
.videochat-group{

    display:flex;
    height:400px;
}
.videochat-room{
    border-style: solid;
    border-width: 13px;
    border-color:#2f1f14;
    width:50%;
}
.video-box{
    height:80%;
    width:90%;

    margin:auto;
}
.my-videochat-room{
    margin:50px;
    width:180px;
    height:150px;

}
.user-name{
    text-align: center;
    color: white;
}

.video-toolbar{
    position: absolute;
    bottom: 0;
    width:100%;
}
.video-toolbar-group{
    display: flex;
    justify-content: center;
}
.video-toolbar-itemtext{
    bottom: 0;
    color:white;
}

.share-button{
    background-color: #e36a27;
    color:white;
}
button{
    opacity: 0.8;
    color:white;
    height:50px;
    width:100px;    
}
.messages-wrapper{
    border-style: solid;
    width:20%;
    background-color:#2e2e2e;
}
.comment-body{
    margin:10px ;
}

#comment1{
    border-radius:100px 20px 20px 70px / 20px 60px 70px 40px;
   	border: 2px solid white ;
}
#comment2{
    color:pink;
    border-radius:50px 20px 50px 10px / 40px 60px 40px 10px;
   	border: 2px solid pink ;    
}
#comment3{
    color:white;
    border-radius:20px 40px 70px 30px / 80px 20px 20px 70px;
   	border: 2px solid white ;    
}
.user-comment{
    color:white;
}