html,
body {
    height: 100%;
}

header {
    display: flex;
    height: 30px;
}

.wrapper {
    height: 100%;
}

.logo-group {
    height: 30px;
    width: 100%;
    background: white;
}

.room-wrapper {
    display: flex;
    background: -webkit-linear-gradient(left, #5c3e2d, #79492d);
    height: 100vh;
    width: 100%;
    /*height: 680px;*/
}

.videochat-wrapper {
    position: absolute;
    margin-right: auto;
    height: 80%;
    width: 79%;
    bottom: 0;
}

.videochat-group {
    display: flex;
    height: 70%;
    background: url("../img/sea.jpg");
    background-size: cover;
}

@media screen and (max-width: 1100px) {
    .videochat-group {
        flex-direction: column;
    }
}

.videochat-room {
    border-style: solid;
    border-width: 20px;
    border-color: #2f1f14;
    width: 45%;
    margin: 10px;
}

.my-video {
    width: 160px;
}

.peer-video {
    width: 420px;
    margin-left: 20px;
}

.peer-screen {
    width: 420px;
}

.video-box {
    height: 80%;
    width: 90%;
    margin: auto;
    border-style: solid;
}

.my-videochat-room {
    margin: 50px;
    width: 180px;
    height: 200px;
    position: absolute;
    bottom: 10px;
    border-style: solid;
}

#myName-form {
    position: absolute;
    bottom: 0;
}

.user-name {
    text-align: center;
    color: white;
}

.video-toolbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.video-toolbar-group {
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: #2e2e2e;
    margin: auto;
    border-radius: 5px;
}

.video-toolbar-itemtext {
    bottom: 0;
    color: white;
}

.video-button {
    border-radius: 5px 0px 0px 5px;
}

.share-button {
    background-color: #e36a27;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

button {
    height: 60px;
    width: 100px;
    background: none;
    border: 0;
    background-color: #2e2e2e;
}

button:hover {
    background-color: #808080;
}

.messages-header {
    width: 100%;
    text-align: right;
}

#chat-close-img {
    margin-left: auto;
}

#chat-close-button {
    width: 35px;
    height: 35px;
    background: #5c3e2d;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    color: white;
    display: block;
    text-align: center;
    font-size: 200%;
    margin-left: auto;
    line-height: 19px;
}

.messages-wrapper {
    height: 85%;
    width: 20%;
    background-color: #2e2e2e;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    right: 12px;
}

.comment-body {
    margin: 10px;
}

#message-form {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.message-text {
    height: 40px;
    width: 100%;
    word-wrap: break-word;
}

#receive {
    height:80%;
    color: white;
    font-size: 9px;
    overflow: scroll;
    /*overflow:hidden;*/
}
/*scrollbar {*/
/*    display: none;*/
/*  }*/

/*******************************
* 左からの吹き出し
********************************/

.left_balloon {
    color: #31220f;
    position: relative;
    background: #FFFFFF;
    border: 0px solid #777;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    /*width: 400px;*/
    clear: both;
    word-wrap: break-word;
    display: inline-block;

}

.sender_name {
    margin-bottom: -5px;
    padding-left: 5px;
    color: white;
}


/*******************************
* 右からの吹き出し
********************************/

.right_balloon {
    color: #31220f;
    position: relative;
    background: #F6E3CE;
    border: 0px solid #777;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    /*width: 400px;*/
    clear: both;
    float: right;
    word-wrap: break-word;
}
